# Redirect toàn bộ request từ gốc vào thư mục /public
RewriteEngine On

# Nếu truy cập vào file hoặc thư mục thật thì cho phép
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Còn lại thì chuyển hướng vào /public
RewriteRule ^(.*)$ public/$1 [L]
