Options -Indexes
RewriteEngine On
RewriteBase /

# Nếu không truy cập file hoặc thư mục thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Thì chuyển hướng toàn bộ sang thư mục public
RewriteRule ^(.*)$ public/$1 [L]
