<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu request KHÔNG phải truy cập file hoặc thư mục có sẵn thì chuyển vào public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
